{% extends 'hod_templates/base.html' %}

{% block page_tittle %}
Add Student
{% endblock page_tittle %}

{% block main_content %}
<!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <!-- general form elements -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Add Student</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              {% url 'add_student_save' as action_path %}
              {% include 'hod_templates/form_template.html' with messages=messages form=form action_path=action_path button_text="Add Student" %}
            </div>
          </div>
        </div>
      </div>
    </section>

{% endblock main_content %}